@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
:root {
  --primaryColor: #150249;
  --secColor: #6ecb63;
  --terColor: #E69C31;
  --mainWhite: #faf9f8;
}

.request {
  background-color: rgba(0, 0, 139, 0.308);
  border-radius: 5px;
  color: var(--mainWhite) !important;
  border: 1px solid darkblue;
}

.link {
  color: white;
}

.quote {
  font-weight: bold;
  font-style: italic;
}

.App {
  background-color: var(--mainWhite);
  font-family: "Cabin";
}

.main-page {
  height: 100vh;
}

.login-form {
  background-color: var(--primaryColor);
  border-radius: 5px;
}

.login-label {
  color: var(--mainWhite) !important;
}

.info-card {
  background-color: var(--primaryColor);
  color: var(--mainWhite) !important;
  border-radius: 5px;
}

.card-text{
  color: var(--mainWhite) !important;
}

.main-button {
  background-color: darkblue;
  border-radius: 10px;
}

.main-button-cancel {
  background-color: red;
  color: white;
  border-radius: 10px;
}

.sec-button {
  background-color: white;
  border-radius: 10px;
}

.main-button:hover {
  background-color: darkcyan;
  border-radius: 10px;
}

.form-area{
  width: max-content;
}

